/* Body */

body {
    height: 1080px;
    width: 1200px;
    margin: auto;
    background-color: #e7e5eb;
}

/* Header */

#header {
    width: 100%;
    height: 150px;


}

/* Nav */

#nav {
    height: auto;
    width: 100%;
    background-color: #75b1d6;

    padding: 0;
}

#nav ul {
    list-style-type: none;
    padding: 10px;
    margin:0;
}

#nav li {
    display: inline;
}

#nav li a {
    color: white;
    text-decoration: none;
    padding-right: 30px;
    font-family: 'Muli', sans-serif;
}
#nav li a:hover {
    background-color: #111;
}

/* Table */

 table, td{
    border: 1px solid black;
    border-collapse: collapse;
}

 td {
     padding: 5px;
 }

/* Contentleft */

.contentleft {
    float: left;
    background-color: #d0d1ba;
    width: 50%;
    height: 710px;
    margin: 0;
}

/* contentleft images */

.climg {
    margin: 50px 0 0 50px;
    width: 500px;
}



/* Contentright */

.contentright {
    float: right;
    background-color: #d0d1ba;
    width: 50%;
    height: 710px;
    margin: 0;
}

/* Contentbot */

.contentbot {
    float: left;
    margin: 00px;
    display: inline;
    background-color: #c7c9a7;
    height: 350px;
    width: 100%;
    position: relative;
}

.contentbot h3 {
    margin-left: 15px;
}

/* Contentbot images */

.cbimg {
    margin: 10px 0 0 120px;
}

/* Footer */

#footer {
    float: left;
    height: auto;
    width: 100%;
    background-color: #75b1d6;
    margin: 0;
}

#footer ul {
    list-style-type: none;
    padding: 0 0 0 25px;


}

#footer li {

    padding: 10px 0 0 0;
}

#footer li a {
    color: white;
    text-decoration: none;
    font-family: 'Muli', sans-serif;
    display: block;


}
#footer li a:hover {
    background-color: #111;
}

/* concert detail body */

/* #detbody {
    height: 675px;
} */

/* Concert detail left div */

#contentdetleft {
    float: left;
    width: 25%;
    background-color: #d0d1ba;
    height: 580px;
    margin: 0;
}

#contentdetleft img{
    margin: 25px 0 0 25px;
}

/* Concert detail right div */

#contentdetright {
    float: right;
    background-color: #d0d1ba;
    width: 75%;
    height: 580px;
    margin: 0;



}



#contentdetright p {

    column-width: 125px;

    column-fill: auto;
}

#iframe {
    float:right;

}
#contentdetright iframe {
    float: right;

    margin: 20px 20px 20px 20px;


}

#pp {
    margin-top: 40px;
}

