/* Body */

body {
    height: 1080px;
    width: 1200px;
    margin: auto;
    background-color: #e7e5eb;
}

/* Nav */

#nav {
    height: auto;
    width: 100%;
    background-color: blue;
}

#nav ul {
    list-style-type: none;
    padding: 10px;
    margin:0;
}

#nav li {
    display: inline;
}

#nav li a {
    color: white;
    text-decoration: none;
    padding-right: 30px;
    font-family: 'Muli', sans-serif;
}
#nav li a:hover {
    background-color: #111;
}

/* Table */

 table, td{
    border: 1px solid black;
    border-collapse: collapse;
}

 td {
     padding: 5px;
 }

/* Contentleft */

.contentleft {
    float: left;
    background-color: #15750a;
    width: 50%;
    height: 710px;
    margin: 0;
}

/* contentleft images */
.climg {
    margin: 50px 0 0 50px;
}


/* Contentright */

.contentright {
    float: right;
    background-color: #15750a;
    width: 50%;
    height: 710px;
    margin: 0;
}

/* Contentbot */



.contentbot {
    float: left;
    margin: 00px;
    display: inline;
    background-color: #15750a;
    height: 350px;
    width: 100%;
    position: relative;
}




.cbimg {
    margin: 10px 0 0 120px;
}