/* CSS contact Mark Jeff van Haastert */

/**
 *      Telefoon layout
 *      t/m 400 px
 */

* {
    box-sizing: border-box;
}

h2 {
    margin-left: 1%;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: #e7e5eb;
}

#wrapper {
    margin: 0;
    height: 100%;
    background-color: #b6e2fa;
    mar
}

.topnav {
    margin-top: -6px;
}

#googlemap {
    margin-left: 10px;
    margin-right: 10px;
}

#adresgegevens {
    line-height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

#formulier {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    max-width: 400px;
}

#formulier input, textarea {
    width: 100%;
    max-width: 400px;
}

ul li a {
    margin-top: 1%;
}

/* start style footer */

#footer {
    background-color: grey;
    width: 100%;
    padding: 0 10px 10px;

}

#footer li {
    margin-right: 0;
}

#footer h3 {
    text-align: center;
}

#footer img {
    width: 200px;
    padding: 10px;
    display: block;
    margin: auto;
}

#footer ul {
    list-style-type: none;
    margin: 10px;
    text-align: center;
    padding-left: 0;
}

#footer li a {
    color: black;
    text-decoration: none;
}

#footer p {
    text-align: center;
}

/*      Einde telefoon layout */

/**
 *      Tablet layout
 *      400 px t/m 800 px
 */
@media all and (min-width: 400px) {
    #googlemap {
        width: 100%;

    }

    #adresgegevens {
        width: 45%;
        float: right;
    }

    #formulier {
        text-align: left;
        display: flex;
    }
}

/*      Einde Tablet layout */

/**
 *      PC layout
 *      800 px t/m 1200 px
 */
@media all and (min-width: 800px) {

    #googlemap {
        float: left;
        width: 55%;
    }

    #adresgegevens {
        float: right;
        width: 40%;
    }

    form {
        margin-left: 3%;
    }

    #formulier {
        float: left;
    }

    #formulier.versturen {
        max-width: 100px;
        float: right;
    }
}

/* einde PC layout */

/**
 *      Maximum layout van 1200 px
 */

@media all and (min-width: 1200px) {

    #wrapper, header {
        max-width: 1200px;
        margin: auto;
    }

    #header img {
        max-height: 150px;
    }

    #formulier {
        line-height: 25px;
        margin-top: 2%;
        clear: left;
    }

    label {
        text-align: right;
        clear: both;
        float: left;
        margin-right: 27px;
        max-width: 50px;
    }

    #formulier input, textarea {
        max-width: 250px;
        float: right;

    }

    #adresgegevens {
        padding-top: -10px;
        text-align: left;
    }

    #footer img {
        float: right;
    }

    #footer ul {
        text-align: left;
        float: left;
    }

    #footer ul a {
        color: white;
    }

    #footer p {
        color: white;
        margin-bottom: 0;
        padding-top: 11%;
    }
}

/* einde Max layout */