/* Made by: Mandy Leegwater */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: #e7e5eb;
}

/* start wrapper */

#wrapper {
    height: 100%;
    width: 400px;
    margin: auto;
    background-color: white;
}
/* einde wrapper */
#header{
    width: 400px;
    height: 150px;
}
#header img{
    width: 400px;
    height: 150px;
}
/* start navigatie */

#nav {
    height: auto;
    width: 400px;
    background-color: blue;
}

#nav ul {
    list-style-type: none;
    padding: 10px;
    margin:0;
}

#nav li {
    display: block;
    text-align: center;
    border-bottom: 1px solid white;
}

#nav li a {
    color: white;
    text-decoration: none;
    padding-right: 30px;
    font-family: 'Muli', sans-serif;
}
#nav li:hover {
    background-color: #91e7ff;
}
/* einde navigatie */

/* start container */

#container {
    width: 400px;
    height: 100%;
}

.Nieuws_Almere {
    float: left;
    width: 400px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: lightblue;
    height: 100%;
}
.Nieuws_Almere iframe{
    width: 380px;
}

.Stage_Almere {
    float: left;
    width: 400px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: lightblue;
    height: 100%;
}
.Stage_Almere iframe{
    width: 380px;
}

/* einde container */

/* start footer */

.footer {
    background-color: grey;
    float: left;
    width: 400px;
    padding: 0 10px 10px;
    color: white;
    font-family: 'Muli', sans-serif;
}
.footer p {
    text-align: center;
}
.footer-content {
    display: inline-block;
    height: auto;
    padding-top: 10px;
    text-align: center;
    vertical-align: top;
    width: 400px;
}

.footer-content ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
}

.footer-content a{
    text-decoration: none;
    color: white;
    margin-bottom: 0;
}
.footer-content li a{
    text-align: center;
    padding-left: 0;
    font-size: small;
}
.footer-logo-container {
    margin-top:20px;
    height: auto;
    padding-left: 20px;
    text-align: center;
}


/* einde footer */
