/* Made by: Mandy Leegwater */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

/* start wrapper */

#wrapper {
    height: 100%;
    width: 1200px;
    margin: auto;
}
/* einde wrapper */
#header{
    width: 100%;
    height: 50px;
}
/* start navigatie */

#nav {
    height: auto;
    width: 100%;
    background-color: blue;
}

#nav ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

#nav li {
    display: inline;
}

#nav li a {
    color: white;
    text-decoration: none;
    padding-right: 30px;
    font-family: 'Muli', sans-serif;
}
@media all and (max-width: 400px) {
    #nav li{
        display: block;
        text-align: center;
    }
    #nav {
        width: 400px;
    }
}
/* einde navigatie */

/* start container */

#container {
    width: 1200px;
    height: 100%;
}

.Nieuws_Almere {
    float: left;
    width: 750px;
    margin-left: 10px;
}

.Stage_Almere {
    width: 30%;
    float: right;
    margin-right: 10px;
}
@media all and (max-width: 400px) {
    #container{
        width: 400px;
    }
    iframe{
        width: 350px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .Stage_Almere{
        width: 350px;
        float: none;
        margin-left: 10px;
    }
}
/* einde container */

/* start footer */

.footer {
    background-color: grey;
    float: left;
    width: 100%;
    padding: 0 10px 10px;
    color: white;
    font-family: 'Muli', sans-serif;
}
.footer p {
    text-align: center;
}
.footer-content {
    display: inline-block;
    height: auto;
    padding-top: 10px;
    text-align: center;
    vertical-align: top;
    width: 100px;
}

.footer-content ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
}

.footer-content a{
    text-decoration: none;
    color: white;
    margin-bottom: 0;
}
.footer-content li a{
    text-align: center;
    padding-left: 0;
    font-size: small;
}
.footer-logo-container {
    margin-top:20px;
    height: auto;
    padding-left: 20px;
    float:right;
}
@media all and (max-width: 400px) {
    .footer{
        width: 400px;
    }
    .footer-content{
        width: 400px;
    }
}

/* einde footer */

@media all and (min-width: 1200px) {
    #wrapper {
        width: 1200px;
    }
}