body {
    font-family: "Open Sans";
    width: 1550px;
    margin: auto;
    background-color: white;
}

a {
    text-decoration: none;
    margin: 10px;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6FA8DD;
}

li {
    float: left;
}

li a {
    font-weight: bold;
    display: block;
    color: #003569;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: #5886b0;
}
