/*TELEFOON RESPON*/
html {
    background-color: #a7a7a7;
}

body {
    font-family: "Open Sans";
    background-color: #e7e5eb;
}

div.footer {
    background-color: gray;
}

#myTopnav {
    margin-top: -5px;
}

header img {
    width: 100%;
}

p.copy {
    text-align: center;
}

ul.grid {
    text-align: center;
}

a.marginfoto img {
    width: 100%;
}

li {
    list-style-type: none;
    text-align: center;
}

li:hover {
    background-color: #ddd;
}

li a {
    text-decoration: none;
    color: black;
}

div.tekst {
    text-align: center;
}

b {
    margin-left: 20px;
}

/*TABLET RESPON*/

@media screen and (min-width: 500px) {
    a.marginfoto img {
        width: 49%;
    }

    div.tekst {
        text-align: center;
    }

    li {
        width: 90%;
    }

    h3 {
        width: 90%;
    }
}

/*PC RESPON*/

@media screen and (min-width: 800px) {
    body {
        width: 1200px;
        margin: auto;
    }

    div.foto {
        width: 41%;
        float: left;
    }

    h3 {
        width: 98%;
    }

    div.rss {
        width: 57%;
        float: right;
    }

    a.marginfoto img {
        width: 100%;
        margin-left: 2.3%;
    }

    a.marginfoto {
        text-decoration: none;
    }

    li {
        width: 98%;
    }

    div.tekst {
        text-align: unset;
        float: left;
        margin-left: 1%;
        margin-top: 2%;
    }

    div.footer {
        width: 100%;
        display: inline-grid;
        margin-top: 20px;
    }

    p {
        text-align: unset;
    }
}

/*Responcive navbar*/
/*Responcive navbar*/
/*Responcive navbar*/
/*Responcive navbar*/
/*Responcive navbar*/
/*Responcive navbar*/
/*Responcive navbar*/
/*Responcive navbar*/
/*Responcive navbar*/
/*Responcive navbar*/

.topnav {
    overflow: hidden;
    background-color: gray;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 500px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}