* {
    box-sizing: border-box;
}

footer{
    background-color: black;
    margin: auto;
}

.wrapper{
    background-color: #4697e4;
}

@media screen and (min-width: 800px){

    body, .wrapper {
        max-width: 1200px;
        margin: auto;
        font-family: 'Manuale', sans-serif;
    }

    #myTopnav {
        margin-top: -5px;
    }

    .tekst {
        float: left;
        width: 50%;
        margin-left: 2%;
    }

    .image {
        float: right;
        width: 45%;
        text-align: right;
        margin-right: 2%;
    }

    h2 {
        margin-left: 2%;
    }

}
